<ion-header>

    <ion-navbar>
      <ion-icon class="fr logout" (click)="logout()" name="log-out"></ion-icon>
      <ion-title>Edit Places</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-content>
        <div class="cities_cls">
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Name" name="start" [(ngModel)]="place.name" required></ion-input>
            </ion-item>
            <ion-item class="pb10">
              <ion-input type="text" placeholder="Stay Time" name="end" [(ngModel)]="place.stay_time" required></ion-input>
            </ion-item>
            <div #map id="map"></div> 
            <ion-item class="item-cls">
              <ion-input type="text" placeholder="Lattitude" name="lat" [(ngModel)]="place.latitude" required></ion-input>
            </ion-item>
            <ion-item class="item-cls">
              <ion-input type="text" placeholder="Logititude" name="lon" [(ngModel)]="place.longitude" required></ion-input>
            </ion-item>
            <input type="text" id="address" #input placeholder="Address" name="address" [(ngModel)]="place.address" required>
          </ion-list>
          <button ion-button full (click)="addPlace(place)" class="btn_review">Update Place</button>
        </div>
      </ion-card-content>
    </ion-card>
  
  </ion-content>