<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">

    <form #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="registerCredentials.name" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Mobile" name="mobile" [(ngModel)]="registerCredentials.mobile" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="register(registerCredentials)" [disabled]="!registerForm.form.valid">Register</button>
          <div class="signin_cls">Already a user?
            <button (click)="nav.push('LoginPage')" ion-button class="submit-btn">Sign In</button>
          </div>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>