page-reviews {
    .city_show {
        float: left;
        width: 60%;
        padding: 10px;
    }
    .icon {
        font-size: 25px;
        color: red;
        float: right;
        cursor: pointer;
    }
    .address_show {
        float: left;
        width: 80%;
        padding: 10px;
    }
    .address_delete {
        float: right;
        width: 20%;
        padding: 10px;
    }
    .review_cls {
        float: right;
        width: 40%;
        padding: 10px;
    }
    .fr {
        float: right;
    }
    .cities_cls {
        float: left;
        width: 100%;
        border-bottom: 1px solid #decece;
    }
    .ion-icon {
        color: #c3aa24;
    }
    .btn_review {
        font-size: 14px;
        text-transform: capitalize;
        float: right;
    }
    .content-md {
        color: #000;
        background-color: #efe9e9;
    }
    span.title.addr {
        font-size: 12px;
    }
    .pointer {
        cursor: pointer;
    }
    .add_cls {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 9999999;
    }
    .add_btn {
        border-radius: 50%;
        background: red;
        padding: 8px 12px 8px 12px;
    }
    .wht {
        color: white !important;
    }
    .fl{
        float: left !important;
    }
    .iconcls{
        font-size: 20px;
    }
    .pl10{
        padding-left: 10px !important;
    }
}