<ion-header>

  <ion-navbar>
    <ion-icon class="fr logout" (click)="logout()" name="log-out"></ion-icon>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngIf="myReview">
    <ion-card-content>
      <div class="cities_cls">
        <div class="city_show pointer">
          <span class="title">{{myReview?.name}}</span>
          <br>
          <span class="title fl">
            <ion-icon class="iconcls" name="{{myReview?.rating>=5 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon class="iconcls" name="{{myReview?.rating>=4 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon class="iconcls" name="{{myReview?.rating>=3 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon class="iconcls" name="{{myReview?.rating>=2 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon class="iconcls" name="{{myReview?.rating>=1 ? 'star' : 'ios-star-outline'}}"></ion-icon>
          </span>
        </div>
        <div class="review_cls">
          <span class="title fr stay">
            {{myReview?.last_updated | date : 'dd MMM yyyy'}}
          </span>
          <br>
          <span class="title fr stay">
            {{myReview?.last_updated | date : 'HH:mm:ss'}}
          </span>
        </div>
        <div class="address_show">
          <span class="title addr">{{myReview?.review}}</span>
        </div>
        <div class="address_delete">
          <!-- <span class="title icon pl10" (click)="deleteReview(myReview)">
            <ion-icon name="trash"></ion-icon>
          </span> -->
          <span class="title icon" (click)="showConfirm(2,myReview)">
            <ion-icon name="create"></ion-icon>
          </span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="reviews.length>0">
    <ion-card-content *ngFor="let review of reviews;">
      <div class="city_show pointer">
        <span class="title">{{review?.name}}</span>
        <br>
        <span class="title fl">
          <ion-icon class="iconcls" name="{{review?.rating>=5 ? 'star' : 'ios-star-outline'}}"></ion-icon>
          <ion-icon class="iconcls" name="{{review?.rating>=4 ? 'star' : 'ios-star-outline'}}"></ion-icon>
          <ion-icon class="iconcls" name="{{review?.rating>=3 ? 'star' : 'ios-star-outline'}}"></ion-icon>
          <ion-icon class="iconcls" name="{{review?.rating>=2 ? 'star' : 'ios-star-outline'}}"></ion-icon>
          <ion-icon class="iconcls" name="{{review?.rating>=1 ? 'star' : 'ios-star-outline'}}"></ion-icon>
        </span>
      </div>
      <div class="review_cls">
        <span class="title fr stay">
          {{review?.last_updated | date : 'dd MMM yyyy HH:mm:ss'}}
        </span>
      </div>
      <div class="address_show">
        <span class="title addr">{{review?.review}}</span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="reviews.length==0">
    <ion-card-content>
      <div class="city_show pointer">
        <img class="img_cls" src="assets/imgs/no_datafound.png">
        <span class="title">No Reviews Found</span>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="add_cls" *ngIf="!myReview">
    <button class="add_btn" (click)="showConfirm(1)">
      <ion-icon class="wht" name="add"></ion-icon>
    </button>
  </div>
</ion-content>