page-list-places {
    .city_show {
        float: left;
        width: 100%;
        padding: 5px;
    }
    .icon{
        font-size: 25px;
        color: red;
        float: right;
        cursor: pointer;
    }

    .address_show{
        float: left;
        width: 80%;
        padding: 5px;
    }

    .address_delete{
        float: right;
        width: 20%;
        padding: 10px;
    }
    .review_cls {
        float: left;
        width: 100%;
        font-size: 14px;
        padding: 5px;
    }
    .fr {
        float: right;
    }
    .fl {
        float: left;
    }
    .cities_cls {
        float: left;
        width: 100%;
        border-bottom: 1px solid #decece;
    }
    .ion-icon {
        color: #c3aa24;
    }
    .btn_review {
        font-size: 14px;
        text-transform: capitalize;
        float: right;
    }
    .content-md {
        color: #000;
        background-color: #efe9e9;
    }
    span.title.addr {
        font-size: 12px;
    }

    .pointer{
        cursor: pointer;
    }

    .add_cls{
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 9999999;
    }
    .add_btn{
        border-radius: 50%;
        background: red;
        padding: 8px 12px 8px 12px;
    }

    .wht{
        color: white !important;
    }

    .icon_cls{
        float: left !important;
        margin-left: 10px !important;
        margin-top: -5px !important;
    }
}