<ion-header>

  <ion-navbar>
    <ion-icon class="fr logout" (click)="logout()" name="log-out"></ion-icon>
    <ion-title>All Places</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content *ngFor="let place of places;">
      <div class="cities_cls">
        <div (click)="goEditPlace(place)" class="city_show pointer">
          <span class="title">{{place.name}}</span>
        </div>
        <div class="review_cls">
          <span class="title stay">
            <span class="fl"> Stay Time : {{place.stay_time}} Min</span>
            <!-- <ion-icon (click)="openMapApp(place)" class="icon_cls" name="pin"></ion-icon> -->
          </span>
        </div>
        <div class="address_show">
          <span class="title addr">{{place.address}}</span>
        </div>
        <div class="address_delete">
          <span class="title icon" (click)="showConfirm(place)">
            <ion-icon name="trash"></ion-icon>
          </span>
          <br>
          <br>
          <span class="title icon" (click)="goEditPlace(place)">
            <ion-icon name="create"></ion-icon>
          </span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="add_cls">
    <button class="add_btn" (click)="navCtrl.push('PlacemanagePage')">
      <ion-icon class="wht" name="add"></ion-icon>
    </button>
  </div>
</ion-content>