<ion-header>

  <ion-navbar>
    <ion-icon class="fr logout" (click)="logout()" name="log-out"></ion-icon>
    <ion-title>Places</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content class="pointer" (click)="goPlaceDetail(place)" *ngFor="let place of places;">
      <div class="cities_cls">
        <div class="city_show">
          <span class="title">{{place.name}}</span>
        </div>
        <div class="review_cls">
          <span class="title fr">
            <ion-icon name="{{place.rating>=1 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{place.rating>=2 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{place.rating>=3 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{place.rating>=4 ? 'star' : 'ios-star-outline'}}"></ion-icon>
            <ion-icon name="{{place.rating>=5 ? 'star' : 'ios-star-outline'}}"></ion-icon>
          </span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>