page-dashboard {
    .city_show,
        {
        float: left;
        width: 60%;
        padding: 10px;
    }
    .review_cls {
        float: right;
        width: 40%;
        padding: 10px;
    }

    .fr{
        float: right;
    }
    .cities_cls {
        float: left;
        width: 100%;
        border-bottom: 1px solid #decece;
    }
    .ion-icon {
        color: #c3aa24;
    }
    .btn_review {
        font-size: 14px;
        text-transform: capitalize;
        float: right;
    }

    .content-md {
        color: #000;
        background-color: #efe9e9;
    }
    .pointer{
        cursor: pointer;
    }
    .icon{
        font-size: 18px;
        color: #d8c351;
    }

}