<ion-header>

  <ion-navbar class="custom-txtcolor">
      <ion-buttons end>
          <button ion-button color="light" (click)="viewCtrl.dismiss('')"> Cancel </button>
      </ion-buttons>
    <ion-title>Country</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="searchItem" class="search-bar" color="danger" (ionInput)="onInputGet($event)"> </ion-searchbar>
    <button ion-button outline class="clear-btn" (click)="onCancel()">Clear</button>
  </ion-toolbar>

  <ion-scroll scrollY="true">
    <ion-list *ngIf="!isArrayType && !isMultiple" >
      <div *ngFor="let option of options">
        <div class="country_cls" (click)="getOption(option)"> {{option.name}} </div>
      </div>
    </ion-list>

    <ion-list *ngIf="isArrayType && !isMultiple">
        <div *ngFor="let option of options">
          <div class="country_cls" (click)="getOption(option)"> {{option}} </div>
        </div>
    </ion-list>

    <ion-list *ngIf="isMultiple">
        <div *ngFor="let option of options">
          <div class="multiselect" (click)="getMultipleOptions(option)">
            <ion-icon name="checkmark" [hidden]="!option.checked" class="check-cls"></ion-icon>
            <div class="country_cls"> {{option.name}} </div>
        </div>
        </div>
    </ion-list>
  </ion-scroll>
</ion-content>

<ion-footer>
    <button ion-button full class="cancel-btn" *ngIf="!isMultiple" (click)="viewCtrl.dismiss('')">cancel</button>
    <button ion-button full class="cancel-btn" (click)="submitOptions()">Sumbit</button>
</ion-footer>
