page-model-select {
 .country_cls{padding: 15px; border-bottom: 1px solid #dcd8d8;}
 .toolbar-background { background-color: #f58220; color: white; }
 .toolbar-title-md{ color: white; }
 .search-bar{float: left; width: 85%; }
 .check-cls{float: right; margin-top: 16px; margin-right: 10px;}
 ion-scroll{height: 90%;}
 .searchbar-has-value.searchbar-has-focus .searchbar-clear-icon{display: none; }
 .clear-btn{width: 15%;  min-width: 30px; margin-top: 4px; height:42px; background: white; border-color: #f58220; color: #f58220; font-size: 13px; text-transform: none; }
}
