.toolbar-background-md {
    border-color: #b2b2b2 !important;
    background: #b9b539 !important;
}

.fr {
    float: right;
}

.logout {
    margin-right: 20px !important;
    font-size: 25px !important;
    color: #5a4e4e !important;
    cursor: pointer;
}

.toolbar-content-md {
    text-align: center;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede !important;
}

.pointer{
    cursor: pointer;
}

.scroll-content{
    padding: 5px !important;
}

.err-msg{
    color: red;
    float: left;
}