<!-- <ion-menu [content]="content" id="menu">

    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list *ngIf="!global.isAdmin">
            <button ion-item menuClose="menu" detail-none (click)="nav.setRoot('SearchCityPage')">
                Search Place
            </button>
            <button ion-item menuClose="menu" detail-none (click)="signOut()">
                Logout
            </button>
        </ion-list>
        <ion-list *ngIf="global.isAdmin">
            <button ion-item menuClose="menu" detail-none (click)="nav.setRoot('ListPlacesPage')">
                All Places
            </button>
            <button ion-item menuClose="menu" detail-none (click)="nav.setRoot('PlacemanagePage')">
                Add Place
            </button>
            <button ion-item menuClose="menu" detail-none (click)="signOut()">
                Logout
            </button>
        </ion-list>
    </ion-content>

</ion-menu> -->
<ion-nav [root]="rootPage" #rootNavCtrl #content></ion-nav>