post-review {
    .title-bar {
        background: #f58220;
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 18px;
    }
    .btn-default {
        width: 40%;
    }
    textarea {
        resize: none;
        height: 70px;
        padding: 10px;
    }
    .match-captain {
        text-align: center;
        padding: 20px
    }
    .iconcls {
        color: gold;
    }
    .rating {
        padding: 10px;
        width: 100%;
        font-size: 21px;
    }
}