<div class="title-bar">
  <strong>Post Your Review</strong>
</div>
<div class="match-captain">
  <div class="rating">
    <ion-icon class="iconcls" (click)="changeRating(1)" name="{{star>=1 ? 'star' : 'ios-star-outline'}}"></ion-icon>
    <ion-icon class="iconcls" (click)="changeRating(2)" name="{{star>=2 ? 'star' : 'ios-star-outline'}}"></ion-icon>
    <ion-icon class="iconcls" (click)="changeRating(3)" name="{{star>=3 ? 'star' : 'ios-star-outline'}}"></ion-icon>
    <ion-icon class="iconcls" (click)="changeRating(4)" name="{{star>=4 ? 'star' : 'ios-star-outline'}}"></ion-icon>
    <ion-icon class="iconcls" (click)="changeRating(5)" name="{{star>=5 ? 'star' : 'ios-star-outline'}}"></ion-icon>
  </div>
  <textarea name="review" [(ngModel)]="text" rows="2"></textarea>
  <button ion-button class="btn-default" (click)="close()">Cancel</button>
  <button ion-button class="btn-default" (click)="save(text)">Submit</button>
</div>