page-placemanage {
    .item-cls {
        float: left;
        width: 50%;
        padding-right: 10px !important;
        margin: 0 !important;
    }
    .scroll {
        height: 100%
    }
    #map {
        width: 100%;
        max-height: 250px;
        min-height: 200px;
    }
    .pb10 {
        padding-bottom: 10px;
    }
    #address {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        border: 0;
        border-bottom: 1px solid #e6dede !important;
    }
}