page-search-city {
    .item-cls{
        float: left;
        width: 55%;
        padding: 0px !important;
        margin: 0 !important;
    }

    .item-subcls{
        float: left;
        width: 45%;
        padding: 0px !important;
        margin: 0 !important;
    }

    .datetime-md {
        padding: 0px !important;
    }

    .fl{
        float: left;
    }

    input.text-input.text-input-md{
        margin-left: 0px !important;
    }

}
