<ion-header>

  <ion-navbar>
    <ion-icon class="fr logout" (click)="logout()" name="log-out"></ion-icon>
    <ion-title>Search Your Place</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <div class="cities_cls">
        <ion-list inset>
          <ion-item class="fl">
            <ion-input (ionFocus)="openMap()" name="address" [(ngModel)]="search.address" placeholder="Start Location"></ion-input>
          </ion-item>
          <span *ngIf="search.address == ''" class="err-msg">Start Location is required</span>
          <ion-item class="item-cls">
            <ion-datetime placeholder="Start Date" displayFormat="DD/MM/YY" [(ngModel)]="search.startDate"></ion-datetime>
          </ion-item>
          <ion-item class="item-subcls">
            <ion-datetime placeholder="Time" displayFormat="HH:mm:ss" [(ngModel)]="search.startTime"></ion-datetime>
          </ion-item>
          <span *ngIf="search.startDate == '' || search.startTime == ''" class="err-msg">Start Date & Time is required</span>          
          <ion-item class="item-cls">
            <ion-datetime placeholder="End Date" displayFormat="DD/MM/YY" [(ngModel)]="search.endDate"></ion-datetime>
          </ion-item>
          <ion-item class="item-subcls">
            <ion-datetime (ngModelChange)="endDateChange($event)" placeholder="Time" displayFormat="HH:mm:ss" [(ngModel)]="search.endTime"></ion-datetime>
          </ion-item>
          <span *ngIf="search.endDate == '' || search.endTime == ''" class="err-msg">End Date & Time is required</span>          
          <span *ngIf="timeFlg" class="err-msg">Start time & End time has atleast one hour difference</span>          
        </ion-list>
        <button ion-button full (click)="goSearch(search)" class="btn_review">Search</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>