map {
    #address {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        border: 0;
        border-bottom: 1px solid #e6dede !important;
    }

    #map {
        width: 100%;
        height: 100%;
    }
    .pb10 {
        padding-bottom: 10px !important;
    }
}
