<ion-header>

    <ion-navbar class="custom-txtcolor">
        <ion-buttons end>
            <button ion-button color="light" (click)="viewCtrl.dismiss('')"> Cancel </button>
        </ion-buttons>
      <ion-title>Pick Your Location</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
      <input #address id="address" class="pb10">
      <div #map id="map"></div> 
  </ion-content>
  
  <ion-footer>
      <button ion-button full class="cancel-btn" (click)="submitOptions()">Sumbit</button>
  </ion-footer>
  