page-place-detail {
  .city_show {
    float: left;
    width: 100%;
    padding: 10px;
  }
  .icon {
    font-size: 18px;
    color: #d8c351;
  }
  .address_show {
    float: left;
    width: 60%;
    padding: 10px;
  }
  .stay_cls {
    float: left;
    width: 100%;
    padding: 10px;
  }
  .review_cls {
    float: left;
    padding: 0px 10px;
  }
  .fr {
    float: right;
  }
  .fl {
    float: left;
  }
  .cities_cls {
    float: left;
    width: 100%;
    border-bottom: 1px solid #decece;
  }
  .ion-icon {
    color: #c3aa24;
  }
  .btn_review {
    font-size: 14px;
    text-transform: capitalize;
    float: right;
  }
  span.title {
    font-size: 15px;
    font-weight: 500;
  }
  .content-md {
    color: #000;
    background-color: #efe9e9;
  }
  span.title.addr {
    font-size: 12px;
  }
  #map {
    width: 100%;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
  }
  #map {
    width: 100%;
    height: 100%;
  }
  .stayfnt {
    font-size: 14px !important;
  }
  @import '//fonts.googleapis.com/css?family=Muli:300';
  /* Timeline
 */
  .timeline {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 5px !important;
    margin: 0;
    list-style: none;
  }
  .timeline::before {
    position: absolute;
    height: 100%;
    top: inherit;
    padding-right: 11px;
    border-right: 2px solid #efe9e9;
    content: "";
  }
  .timeline__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding-right: 10px;
    font-size: 14.85714px;
    min-width: 90px;
  }
  .timeline__step__marker {
    position: relative;
    display: table-cell;
    height: 24px;
    min-height: 24px;
    width: 24px;
    min-width: 24px;
    border: 4px solid #F2F2F2;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    z-index: 0;
  }
  .timeline__step__marker--red {
    border-color: #FF3467;
  }
  .timeline__step__marker--blue {
    border-color: #18D0BF;
  }
  .timeline__step__marker--salmon {
    border-color: #F48A6D;
  }
  .timeline__step__marker--purple {
    border-color: #C178FA;
  }
  .timeline__time {
    font-size: 13px;
    min-width: 100px;
    padding: 3px 15px;
  }
  .timeline__title {
    padding-bottom: 5px;
    font-size: 16px;
    word-break: break-word;
    float: left;
    width: 100%;
  }
  .timeline__points {
    padding: 0;
    list-style: none;
    font-size: 14px;
    word-break: break-word;
    color: #77777D;
  }
  .timeline__points>* {
    padding: 0 0 12px 0;
  }
  /* For mobile!
 */
  .btn_div {
    width: 100%;
    float: left;
  }
  .btn_cls {
    float: left;
  }
  .icon_cls {
    float: right !important;
    margin-left: 10px !important;
    margin-top: -5px !important;
    cursor: pointer;
  }
}
