<ion-header>

  <ion-navbar>
    <ion-icon class="fr logout" (click)="logout()" name="log-out"></ion-icon>
    <ion-title>Place Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <div class="cities_cls">
        <div class="city_show">
          <span class="title">Pickup Location</span><br>
          <h3>{{params.address}}</h3>
        </div>
        <!-- <div class="city_show pointer">
          <span class="title">{{params.startDate + ' ' + params.startTime}}</span>
        </div>
        <div class="city_show pointer">
          <span class="title">{{params.endDate + ' ' + params.endTime}}</span>
        </div> -->
      </div>
      <div id="map"></div>
      <ul class="timeline" *ngFor="let place of listPlaces">
        <li class="timeline__item">
          <div class="timeline__step">
            <div class="timeline__step__marker timeline__step__marker--red"></div>
          </div>
          <div class="timeline__time">
            {{place.distance | number : '0.1-1'}} km
          </div>
          <div class="timeline__content">
            <div class="timeline__title pointer" (click)="showReviews(place)">
              {{place.name}}
            </div>
            <div class="timeline__title stayfnt">
              <span class="title fl">
                <ion-icon name="{{place.rating>=1 ? 'star' : 'ios-star-outline'}}"></ion-icon>
                <ion-icon name="{{place.rating>=2 ? 'star' : 'ios-star-outline'}}"></ion-icon>
                <ion-icon name="{{place.rating>=3 ? 'star' : 'ios-star-outline'}}"></ion-icon>
                <ion-icon name="{{place.rating>=4 ? 'star' : 'ios-star-outline'}}"></ion-icon>
                <ion-icon name="{{place.rating>=5 ? 'star' : 'ios-star-outline'}}"></ion-icon>
              </span>
              <ion-icon (click)="openMapApp(place)" class="icon_cls" name="pin"></ion-icon>
            </div>
            <div class="timeline__title stayfnt">
              <span class="avg_cls"> Average Stay Time : {{startPlace.stay_time}} Min</span>
            </div>
            <ul class="timeline__points">
              <li>{{place.address}}</li>
            </ul>
          </div>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>